<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Common_Menu::menu" title="Menu" translate="title" sortOrder="10">
                        <resource id="Common_Menu::menu_menu" title="Menus" translate="title" sortOrder="10"/>
                        <resource id="Common_Menu::menu_item" title="Items" translate="title" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
